body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #43de45 ;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

#events {
  padding: 20px;
}

#filters {
  margin-bottom: 20px;
}

#filters label {
  font-weight: bold;
}

#date-filter {
  padding: 5px;
  margin-left: 10px;
}

#event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #43de45;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.event-item:hover {
  transform: translateY(-5px);
}

.event-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.event-item p {
  margin: 0;
  color: #666;
}

.event-item .date {
  font-style: italic;
}
nav {
  background-color: #444;
  color: #fff;
  overflow: hidden;
}
nav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: #000;
}